
@{
    ViewBag.Title = "Index";
}



<h2>THIS IS MY CRUD OPERATION PROJECT  </h2>


<P> 1. CRUD operations for Category and Product. All the methods should be ASYNC.</P>
<P>2. Use Entity framework code first approach.Deactivate a category,</P>
<P>   when a category is deactivated all the related products should be deactivated and vice should happen when activated.</P>
<P>3. Category and Products list should be shown using server side paging.</P>
<P>(Make sure at a time only page size records are pulled from DB,we will specially ask questions on this)</P>